################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3.2. Simple Conditions - Exam Problems/.vs/3.2. Simple Conditions - Exam Problems/v16/Server/sqlite3/db.lock
