################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3.2. Simple Conditions - Exam Problems/.vs/3.2. Simple Conditions - Exam Problems/v16/Server/sqlite3/db.lock
/2.1SimpleCalculations/.vs/2.1SimpleCalculations/v16/Server/sqlite3/db.lock
/4.1. Complex Conditions/.vs/4.1. Complex Conditions/v16/Server/sqlite3/db.lock
/4.2. Complex Conditions - Exam Problems/.vs/4.2. Complex Conditions - Exam Problems/v16/Server/sqlite3/db.lock
/5.1. Loops/.vs/5.1. Loops/v16/Server/sqlite3/db.lock
/5.2. Loops - Exam Problems/.vs/5.2. Loops - Exam Problems/v16/Server/sqlite3/db.lock
/6.1. Drawing on the Console/.vs/6.1. Drawing on the Console/v16/Server/sqlite3/db.lock
/6.2. Drawing on the Console - Exam Problems/.vs/6.2. Drawing on the Console - Exam Problems/v16/Server/sqlite3/db.lock
/7.1. Complex Loops/.vs/7.1. Complex Loops/v16/Server/sqlite3/db.lock
/7.2. Complex Loops - Exam Problems/.vs/7.2. Complex Loops - Exam Problems/v16/Server/sqlite3/db.lock
/8.1. Exam Preparation - Part I/.vs/8.1. Exam Preparation - Part I/v16/Server/sqlite3/db.lock
/8.2. Exam Preparation - Part II/.vs/8.2. Exam Preparation - Part II/v16/Server/sqlite3/db.lock
/9.1. Problems for Champions - Part I/.vs/9.1. Problems for Champions - Part I/v16/Server/sqlite3/db.lock
/9.2. Problems for Champions - Part II/.vs/9.2. Problems for Champions - Part II/v16/Server/sqlite3/db.lock
/BGN-EUR/.vs/BGN-EUR/v16/Server/sqlite3/db.lock
/ChangeTiles/.vs/ChangeTiles/v16/Server/sqlite3/db.lock
/Currency-Converter/.vs/Currency-Converter/v16/Server/sqlite3/db.lock
/DailyEarnings/.vs/DailyEarnings/v16/Server/sqlite3/db.lock
/Money/.vs/Money/v16/Server/sqlite3/db.lock
/RectVisualaizer/.vs/RectVisualaizer/v16/Server/sqlite3/db.lock
/StudyRoom/.vs/StudyRoom/v16/Server/sqlite3/db.lock
/Turtle-Play/.vs/Turtle-Play/v16/Server/sqlite3/db.lock
/Vegetables-Market/.vs/Vegetables-Market/v16/Server/sqlite3/db.lock
